/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jan, 2015, 3:52:42 PM
    Author     : BC Choudhary
*/
#background
{
   height: 100%; 
   width: 300px;
   background-color: rgba(255,255,255,1);
   position:fixed;
   z-index: 1;
   margin-left: 125px;
   box-shadow: 0px 2px 10px 1px #888888;
}
#fixedStripe
{
    margin: 0 auto;
    width: 75%;
    
}
#logoImage
{
    margin-top: 20px;
    
}
.fixedStripeH3
{
    color: #48e3dc;
    font-size: 26px;
    font-family: Arial;
}
.fiixedStripeMenu
{
     padding-top: 1px;
    padding-bottom: 0px;
    border: 0px;
}
.fixedStripeH
{
    color: #3b3b3b;
    font-size: 26px;
    font-family: Arial;
    margin: 0px;
   
}
ul
{
    list-style-type: none;
    padding-left: 17px;
}
li
{
    font-family: Arial;
    font-size: 18px;
}
.part2
{
    margin-top: 60px;
    margin-left: 450px;
    //height: 500px;
    //background-color: black;
}
.part3
{
    margin-top: 50px;

    height: 275px;
    background-color: #05c6fa;
}
#part2
{
    margin-top: 50px;
    margin-left: 450px;
    //height: 500px;
    //background-color: black;
}